@{
    ViewData["Title"] = "Home Page";
}

<div class="card text-center mt-4">
    <h1 class="card-header text-white">Welcome To My Website</h1>
    <p class="text-white card-body h3">
      Here I have code only The Catergory menu.
      So, To addition , Deletion and Update Any Category
      go to Category Control then follow the UI instruction
    </p>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <h1 class="card-header text-light"> Category 1</h1>
      <img class="card-img w-100 h-100" src="/img/cat3.jpg"/>
      <p class="card-body text-light pb-2"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>

  </div>
   <div class="col-6">
    <div class="card">
      <h1 class="card-header text-light">Category 2</h1>
      <img class="card-img w-100 h-100" src="/img/cat1.png"/>
      <p class="card-body text-light"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software</p>
    </div>

  </div>

</div>

